<h3>Reservations</h3>
<div class="panel panel-default">
  <div class="panel-heading">Reservation Availability</div>
  <div class="panel-body">
  	<%= render "layouts/error_messages" %>
  	<%= form_tag check_availability_path, method: :post, class: "form-horizontal" do |f| %>
  		<div class="form-group">
	  		
	  			<div class="col-md-6">
	  			<%= radio_button_tag "search_type", "date_wise", true, id: "date_wise_checkbox" %> Date Wise <br />
	  			<%= radio_button_tag "search_type", "month_wise", false, id: "month_wise_checkbox" %> Month Wise
	  			</div>
	  
	  	</div>
  		<div class="form-group">
	  		
	  			<div class="col-md-6">
	  				<%= label_tag "Dress" %><br />
	  				<%= select_tag "dress_id", options_from_collection_for_select(Dress.all, :id, :name), class: "form-control" %>
	  			</div>
	  		
	  	</div>

	  	<div class="form-group">
	  		
	  			<div class="col-md-6">
	  				<%= label_tag "Size" %><br />
	  				<%= select_tag "dress_size", options_from_collection_for_select(@dress_sizes, :size, :size), class: "form-control" %>
	  			</div>
	  		
	  	</div>

	  	<div class="form-group" id="date_wise">
	  		
	  			<div class="col-md-6">
	  				<%= label_tag "Delivery On" %><br />
	  				<%= date_select "reservation", "delivery_on" %><br />
	  				<span>Return Date will be right after 3 days of Delivery Date</span>
	  			</div>
	  	
	  	</div>

	  	<div class="form-group" id="month_wise" style="display: none;">
	  		
	  			<div class="col-md-6">
	  				<%= label_tag "Delivery On" %><br />
	  				<%= date_select "monthly", "delivery_on", {:discard_day => true} %><br />
	  				<span>Return Date will be right after 3 days of Delivery Date</span>
	  			</div>
	  		
	  	</div>

	  	<div class="form-group">
	  		
	  			<div class="col-md-6">
	  				<%= submit_tag "Check Availability", class: "btn btn-primary" %>
	  			</div>
	  		
	  	</div>
  	<% end %>
  </div>
</div>
<script type="text/javascript">
	$("#dress_id").on("change", function(){
		var val = $(this).val();
		$.ajax({
			url: '/reservations/load_sizes',
			type: 'GET',
			dataType: 'script',
			data: {value: val},
			success: function(){
				console.log("Ajax Call Success");
			},
			error: function(){
				console.log("Ajax Call FAilure");
			}
		})
	});

	$("#date_wise_checkbox").click(function(){
		$("#date_wise").show();
		$("#month_wise").hide();
	})

	$("#month_wise_checkbox").click(function(){
		$("#date_wise").hide();
		$("#month_wise").show();
	})
</script>
